{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container my-4">
    <h2>All Posts</h2>
    {% if allTodo|length==0 %}
    <div class="alert alert-danger" role="alert">
        No Posts! Please add your Post.
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time Created</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in allTodo %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.desc }}</td>
                <td>{{ todo.date_created }}</td>
                <td><a href="/delete/{{todo.sno}}" type="button" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}